<h1 class="text-center">Hi, <%= current_user.name %></h1>
<hr>
<div class="col-md-6">
  <% if current_user.listings %>
    <p class="lead">Your current listings:</p>
    <ul>
      <% current_user.listings.each do |listing| %>
        <li><%= listing.title %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="lead">You don't have any listings yet</p>
  <% end %>


</div>

<div class="col-md-6">
  <p class="lead">Create a new listing, <%= current_user.name %></p>
  <%= bootstrap_form_for @listing do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :description %>
    <%= f.text_field :location %>
    <%= f.number_field :rate %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit %>
  <% end %>
</div>
